*{
    background-color: rgb(0, 0, 0);
}

#canvas{
  position: absolute;
  left: 30%;
  background-color: aliceblue;
}

#startstop {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  height: 50px;
  width: 100px;
}

div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  color:green;
}

div strong{
   font-size: 1.2em;
   color:red;  
}

div span{
   color:blue;  
}
