*{
    background-color: rgb(0, 0, 0);
}

.menu {
  position: fixed;
  top: 0;
  background-color: rgb(168, 166, 170);
  left: 0%;
  display: flex;
  align-items: center;
}


/* Общие стили канваса */
#canvas {
  display: block;
  margin: 0 auto;
 
}

/* Стили для ноутбука и больших экранов */
@media (min-width: 768px) {
  #canvas {
    height: 100vh;
    width: auto;
    max-width: 100%;
  }
}

/* Стили для телефона и маленьких экранов */
@media (max-width: 767px) {
  #canvas {
    width: 90vw;
    height: calc(90vw * 2); /* Пропорция 1:2 (ширина:высота) */
    max-width: 100%;
    max-height: 100vh;
    margin: 0 auto;
  }
}

#startstop {
  background-color: rgb(248, 4, 4);
  border-radius: 5px;
  height: 90%;
  width: 200px;
  font-size: 120%;
  margin-left: 10px;
  margin-right: 10px;
}

#buttuprav {
  background-color: rgb(248, 4, 4);
  border-radius: 5px;
  height: 90%;
  width: 220px;
  font-size: 120%;
  margin-left: 10px;
  margin-right: 10px;
}

#leftbutt{
  background-color: rgb(148, 144, 144);
  border-radius: 25px;
  height:  20vw;
  width:  20vw;
  position: absolute;
  top: 90%;
  font-size: 150px;
  color: rgb(0, 0, 0);
  left: 0px;
}

#rightbutt{
  background-color: rgb(148, 144, 144);
  border-radius: 25px;
  height: 20vw;
  width: 20vw;
  position: absolute;
  top: 90%;
  right: 0px;
  font-size: 150px;
  color: rgb(0, 0, 0);
}
